<h1 class="welcome"></h1>

<div class="text-class">
  <form action="/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username">
    <br>
    <input type="submit" value="Log In">
  </form>

  <p> Enter your username above to log in.<br> (If you don't have an account, one will be created for you!)</p>
</div>
