<div class="nice-form text-class">
<form action="/postsedit/<%=@posts.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Update your post...</label>
  <br>
  <textarea name="content" rows="10" cols="50" maxlength="150" onkeyup="calcChars(this)" class="post-content"><%=@posts.content%></textarea><br>
  <br>
    <div><span class="postcount">150</span> Characters left</div>
  <input type="submit" value="Update">
</form>
<form action="/postsedit/<%= @posts.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Your Post">
</form>
</div>
